<div class="w-full h-684px flex">
    <div
        class="w-1/2 h-full p-4 border-r-2 border-slate-200 bg-slate-100 flex flex-col justify-center">
        <div class="w-1/2 ml-auto my-auto">
            <div class="text-left text-5xl font-bold">
                <span class="text-sky-500">
                    <span style="letter-spacing: 0.05em" class="">ABOUT</span>
                </span>
            </div>
            <hr
                class="w-40 h-1 mr-auto mt-2 mb-10 bg-gray-100 border-0 rounded dark:bg-gray-700" />
            <h3>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus
                unde officiis consequatur repellat cupiditate deserunt
                consequuntur illum vitae aliquid reprehenderit. Ullam, rerum
                illo fuga voluptatem minus unde at deleniti quo.
            </h3>
        </div>
    </div>
    <div class="w-1/2 h-full">
        <div
            class="bg-quote container flex items-center justify-center mx-auto h-full">
            <blockquote
                class="bg-black font-serif mx-4 p-4 text-center text-white md:p-8">
                <p class="font-bold italic text-3xl">
                    We give definite results!
                </p>
            </blockquote>
        </div>
    </div>
</div>
