.h-684px {
    height: 684px;
}

.bg-quote {
    background: url(https://miro.medium.com/v2/resize:fit:1200/1*jJVNLZKglbmSWh8Z0c5QMg.jpeg)
        center center no-repeat;
    background-attachment: fixed;
}
