<app-navbar></app-navbar>

<div class="w-full mt-24">
    <div class="content text-center">
        <div class="text-6xl">Leaders in Sustainable Architecture</div>
        <p class="text-2xl">Lorem ipsum...</p>
    </div>
    <video class="w-full" muted autoplay loop id="myVideo">
        <source src="assets/samplevid.mp4" type="video/mp4" />
    </video>
</div>

<div class="mt-10">
    <app-products />
</div>

<div class="mt-10">
    <app-about-front-page />
</div>

<div class="">
    <app-achievements-bar> </app-achievements-bar>
</div>

<div class="mt-10 mb-10">
    <app-projects />
</div>

<div class="mt-10">
    <app-clients></app-clients>
</div>

<div class="mt-10">
    <app-contact />
</div>

<div style="height: 1000px; background-color: red; font-size: 36px">
    Scroll Up and Down this page to see the parallax scrolling effect. This div
    is just here to enable scrolling. Tip: Try to remove the
    background-attachment property to remove the scrolling effect.
</div>
