<div class="w-full mt-24">
    <div class="content text-center">
        <div class="text-6xl mt-24">Leaders in Sustainable Design!</div>
        <p class="text-2xl">Lorem ipsum...</p>
    </div>
    <video class="w-full" muted autoplay loop id="myVideo">
        <source src="assets/samplevid.mp4" type="video/mp4" />
    </video>
</div>

<div class="mt-10" id="products">
    <app-products />
</div>

<div class="mt-10" id="about">
    <app-about-front-page />
</div>

<div class="">
    <app-achievements-bar> </app-achievements-bar>
</div>

<div class="mt-10 mb-10" id="projects">
    <app-projects />
</div>

<div class="mt-10">
    <app-clients></app-clients>
</div>

<div class="mt-10" id="contact">
    <app-contact />
</div>
<div class="mt-10 w-full">
    <app-footer></app-footer>
</div>
