<div class="z-40 fixed w-full h-24 bg-gray-900 text-lg flex items-center top-0">
    <div class="flex justify-between items-center h-full px-4 w-full">
        <div class="flex items-center">
            <a href="/" class="text-white font-bold text-2xl">
                <svg
                    height="54px"
                    width="54px"
                    version="1.1"
                    id="_x32_"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 512 512"
                    xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #ffffff;
                        }
                    </style>
                    <g>
                        <polygon
                            class="st0"
                            points="183.514,0 81.732,40.092 29.301,345.446 129.448,305.998 94.072,512 195.854,471.899 248.285,166.553 
		148.147,206.01 	" />
                        <polygon
                            class="st0"
                            points="382.552,206.01 417.928,0 316.146,40.092 263.715,345.446 363.854,305.998 328.486,512 
		430.268,471.899 482.699,166.553 	" />
                    </g>
                </svg>
            </a>
        </div>
        <div class="flex items-center">
            <a href="#products" class="text-white font-bold">Products</a>
            <a href="#about" class="text-white font-bold ml-4">About</a>
            <a href="#projects" class="text-white font-bold ml-4">Projects</a>
            <a href="#contact" class="text-white font-bold ml-4">Contact</a>
        </div>
    </div>
</div>
